/***************
     Global
 ***************/

 a{
     text-decoration: none;
 }

 .on-left{
     margin-left: 8.85vw;
 }

/***************
     Header
 ***************/

 header{
     height: 13vh;
     border-bottom: 1px solid lightgray;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .navbar{
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
 }

 .scrolls{
    position: fixed;
    background-color: white;
    top:0;
    padding-top: 3vh;
    padding-bottom: 2vh;
 }

 .noscroll{
     padding-top: 8vh;
     width: 25%;
     color:#5f6368;
     font-size: 13px;
 }

 #noscrleft li{
     padding-right: 10px;
 }

 #tools:hover{
     background-color: #f2f2f2;
     border: 1px solid #d6d6d6;
 }

 #noscrolright li:first-child{
     padding-right:10px;
 }

 .navbar img{
     height: 30px;
 }

 .nav-content{
     display:  flex;
 }

 .nav-left{
     margin-left: 2vw;
 }

 .nav-left li:last-child{
     margin-left: 2vw;
 }

 .nav-left i{
     position: fixed;
 }

 #cross, #m-glass{
    font-size: 20px;
    top: 4vh;
 }

 header li:hover{
     cursor: pointer;
 }

 #cross{
     left: 30.4vw;
     color: #5f6368;;
 }

 #m-glass{
     left: 32vw;
     color: #4285f4;
 }

 .nav-right{
     margin-right: 2vw;
 }

 .nav-right i{
     font-size: 20px;
     padding-top: 5px;
     padding-right: 10px;
 }

 #searchbar{
    width: 25vw;
    height: 3em;
    border-radius: 20px;
    border-color: rgba(0,0,0,.14);
    text-indent: 1vw;
    background-color: white;
}

#searchbar:hover{
    box-shadow: 0 0 3px rgba(0,0,0,.14);
}

 #sign-in{
    width: 80px;
    height: 35px;
    background-color:#4285f4;
    border: none;
    border-radius: 2px;
}

#sign-text{
    color:white;
    font-weight: bold;
}