/***************
     Global
***************/

 a{
     text-decoration: none;
 }

 .on-left{
     margin-left: 8.85vw;
 }

/***************
    Header
***************/

 .nav-header{
     height: 13vh;
     border-bottom: 1px solid lightgray;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .navbar{
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
 }

 .scrolls{
    position: fixed;
    background-color: white;
    top:0;
    padding-top: 3vh;
    padding-bottom: 2vh;
 }

 .noscroll{
     padding-top: 8vh;
     width: 25%;
     color:#5f6368;
     font-size: 13px;
 }

 #noscrleft li{
     padding-right: 10px;
 }

 #tools:hover{
     background-color: #f2f2f2;
     border: 1px solid #d6d6d6;
 }

 #noscrolright li:first-child{
     padding-right:10px;
 }

 .navbar img{
     height: 30px;
 }

 .nav-content{
     display:  flex;
 }

 .nav-left{
     margin-left: 2vw;
 }

 .nav-left li:last-child{
     margin-left: 2vw;
 }

 .nav-left i{
     position: fixed;
 }

 #cross, #m-glass{
    font-size: 20px;
    top: 4vh;
 }

 header li:hover{
     cursor: pointer;
 }

 #cross{
     left: 30.4vw;
     color: #5f6368;;
 }

 #m-glass{
     left: 32vw;
     color: #4285f4;
 }

 .nav-right{
     margin-right: 2vw;
 }

 .nav-right i{
     font-size: 20px;
     padding-top: 5px;
     padding-right: 10px;
 }

 #searchbar{
    width: 25vw;
    height: 3em;
    border-radius: 20px;
    border-color: rgba(0,0,0,.14);
    text-indent: 1vw;
    background-color: white;
}

#searchbar:hover{
    box-shadow: 0 0 3px rgba(0,0,0,.14);
}

 #sign-in{
    width: 80px;
    height: 35px;
    background-color:#4285f4;
    border: none;
    border-radius: 2px;
}

#sign-text{
    color:white;
    font-weight: bold;
}

/***************
    Results
***************/

 #results{
     padding-top: 15px;
 }

 #from-results{
    color: #5f6368;
    font-size: 12px;
 }

 .result-container{
     padding-top: 35px;
     width: 30%;
 }

 .result-header{
     font-size: 15px;
     display: flex;
     justify-content: flex-start;
     padding-bottom: 10px;
 }

 .result-header:hover{
     cursor: pointer;
 }

 .result-header pre, .result-header i, time{
    color: #5f6368;
 }

 .google-link{
     color: rgba(31, 58, 147, 1);
     font-size: 18px;
 }

 .google-link:hover{
     text-decoration: underline;
 }

 .result-description{
     padding-top: 8px;
     color: rgba(0,0,0, 0.85);
     font-size: 15px;
 }

 b{
     color: rgba(0, 0, 0, 0.9);
     font-weight: 600;
 }


/***************
    Videos
***************/

 .videos{
     margin-top: 35px;
     font-size: 18px;
     font-weight: 500;
 }

 .video-card-holder{
     margin-top: 20px;
     display:flex;
 }

 .video-card{
     width: 12%;
     height: 8cm;
     border: 2px solid #f2f2f2;
     box-shadow: 0 0 1px rgba(0,0,0,.18);
     border-radius: 5%;
     margin-right: 9px;
 }

 iframe{
     width: 100%;
     height: 3cm;
     border-top-right-radius: 5%;
     border-top-left-radius: 5%;
 }

 .video-card a{
     text-align: left;
     font-size: 18px;
 }

 .link-container{
     padding-top: 20px;
     width: 80%;
     padding-left: 20px;
     padding-bottom: 50px;
 }

 .video-card footer{
    display: flex;    
}

 .video-card footer, .video-card p{
     font-size: 15px;
 }

 .video-card p{
    width: 80%;
    padding-left: 20px;
 }

 .video-card footer{
     width: 80%;
 }

/***************
  Collapsible
***************/

 .people-ask{
     margin-top: 35px;
     border: 1px solid lightgray;
     box-shadow: 0 0 1px rgba(0,0,0,.18);
     width: 34.2%;
     border-radius: 5px;
 }

 .people-title{
     padding:20px 20px 20px 20px;
     font-size: 18px;
     border-bottom: 1px solid lightgray;
 }

 .collapsible{
     cursor: pointer;
     width: 100%;
     border: none;
     border-bottom: 1px solid lightgray;
     text-align: left;
     outline: none;
     background: white;
     padding:15px 15px 0px 20px;
     font-size: 16px;
 }

 .collapsible div{
     text-align: right;
 }

/***************
     Images
***************/

.images{
    margin-top: 35px;
}

.link-list{
    display: flex;
    margin-top: 8px;
}

.link-list li{
    border: 1px solid #d6d6d6;
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 4px;
}

.link-list a{
    color: initial;    
}

.image-list{
    display:flex;
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
}

.image-list li{
    margin-right: 4px;
}

.image-list img{
    width: 100%;
}

.more-links{
    position: relative;
}

.more-links::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f061";
}

/***************
     Related
     Searches
***************/

.related-searches h2{
    font-size: 20px;
    font-weight: 500;
}

.link-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    height: 120px;
    padding-bottom: 20px;
}

.link-container li{
    margin: 5px 50px 5px 0;
}

.link-container a{
    font-size: 15px;
}

/***************
    More 
    pages
***************/

.more-pages{
    display: flex;
    width:50%;
    justify-content: center;
    padding-bottom: 20px;
}